<!DOCTYPE html>
<html>
  <head>
    <title>DnD Character Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render "layouts/main_nav" %>
    </div>
    <div class="main-container">
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% elsif alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
