<!DOCTYPE html>
<html>
  <head>
    <title>DnD Character Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
  </head>

  <body>
    <div>
      <%# <%= render "layouts/main_nav" %>
          <% flash.each do |type, msg| %>
            <% if type == "notice" %>
              <div class="alert alert-success">
            <% elsif type == "alert" %>
              <div class="alert alert-danger">
            <% else %>
              <div class='alert alert-<%= "#{type}" %>'>
            <% end %>
            <a href="#" class="close" data-dismiss="alert">&#215;</a>
            <ul>
              <li>
                <%= msg %>
              </li>
            </ul>
          <% end %>

          <%= yield %>
    </div>
  </body>
</html>

