<!DOCTYPE html>
<html>
  <head>
    <title>DnD Character Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render "layouts/main_nav" %>
      <div class="container mx-auto">
        <div class="w-full lg:items-center lg:w-auto">
          <% flash.each do |type, msg| %>
            <% if type == "notice" %>
              <div class="alert alert-success">
            <% elsif type == "alert" %>
              <div class="alert alert-danger">
            <% else %>
              <div class='alert alert-<%= "#{type}" %>'>
            <% end %>
            <a href="#" class="close" data-dismiss="alert">&#215;</a>
            <ul>
              <li>
                <%= msg %>
              </li>
            </ul>
          <% end %>

          <%= yield %>
        </div>
        </div>
    </div>
    <%# Hapyn has this code %>
    <div class="flash-area">
      <% flash.each do |key, value| %>
        <div uk-alert class="uk-alert-<%= key %>">
          <a class="uk-alert-close" uk-close></a>
          <%= value.html_safe %>
        </div>
      <% end %>
    </div>
  </body>
</html>

